:root {
    --main-gray: #A4B3B6;
    --main-light-gray: #CFD6E0;
    --main-white: #FFF;
    --main-red: #E0474C;
    --main-light-green: #41B883;
    --main-blue-gray: #34495E;
}

body {
    margin-top: 20px;
}

.widget-signups__list {
    text-align: center
}

    .widget-signups__list > a {
        vertical-align: top;
        margin: 4px 2px;
        display: inline-block
    }

    .widget-signups__list .avatar-char {
        background-color: #eee;
        color: #000
    }

    .widget-signups__list .avatar-char,
    .widget-signups__list .avatar-img {
        margin: 0
    }

.avatar-img {
    border-radius: 2px;
    width: 3rem;
    height: 3rem;
    margin-right: 1.2rem;
}

.avatar-char {
    line-height: 2.9rem;
    font-size: 1.2rem;
    text-align: center;
    font-style: normal;
}

.avatar-char, .avatar-img {
    border-radius: 2px;
    width: 3rem;
    height: 3rem;
    margin-right: 1.2rem;
}

.card-title {
    font-size: 1.25rem;
    line-height: 140%;
    margin-top: -5px;
}

.card-title {
    margin-bottom: 2.1rem;
}

.card-subtitle:not(:last-child) {
    margin-bottom: 2rem;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-top: -1.45rem;
    line-height: 1.5;
}

.selectedSeat {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

    .selectedSeat > span {
        color: var(--main-light-gray);
        padding: 0.5rem 0.25rem;
    }

    .selectedSeat > input {
        height: 50px;
        width: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid var(--main-gray);
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: var(--main-blue-gray);
        cursor: pointer;
    }

        .selectedSeat > input:checked {
            border: 1px solid var(--main-gray);
            background-color: var(--main-light-green);
        }

            .selectedSeat > input:checked + span::before {
                content: '\2713';
                display: block;
                text-align: center;
                color: #41B883;
                position: absolute;
                left: 0.7rem;
                top: 0.2rem;
            }

        .selectedSeat > input:active {
            border: 2px solid var(--main-blue-gray);
        }

        .selectedSeat > input:disabled {
            border: 2px solid var(--main-gray);
            background-color: var(--main-red);
            cursor: not-allowed;
        }

.selectedSeatPreviewChecked {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}
    .selectedSeatPreviewChecked > span {
        color: var(--main-light-gray);
        padding: 0.5rem 0.25rem;
    }

    .selectedSeatPreviewChecked > input {
        height: 50px;
        width: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid var(--main-gray);
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: var(--main-light-green);
        cursor: pointer;
    }

 