@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="hero text-white py-4 flex-grow-1">
    <div class="container py-4">
        <div class="row">
            <hgroup class="title">
                <h1 class="display-4 mb-5">@ViewBag.Title.</h1>
            </hgroup>
            <div class="col-lg-6">
                <div class="alert alert-success" role="alert">
                    Please check your email to reset your password.
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>


<div>
    
</div>

