@{
    ViewBag.Title = "";
}


<script>
    var i = 1
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('check')

        checkboxes.forEach((item) => {

            if (item.checked) {
                document.getElementById('seat').innerHTML = item.id
            } 
            if (item !== checkbox) item.checked = false

        })

    }
   
</script>

<link rel="stylesheet" href="~/Content/seats.css">
<section class="hero text-white py-4 flex-grow-1">

    <div class="container" py-4">


        <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Buy Ticket</h1>
        <hr class="style1 mb-5">

        <br><br>
        <div class="row-xl-6" style="background-color:dimgray">

            <h1 class="display-6 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">screen</h1>

        </div>
        <div class="row-md-6">
            <div class="card widget-signups">
                <div class="card-body">

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 1-10</span></div>
                        <input type="checkbox" class="avatar-char" id="1.1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="1.10" name="check" value="option1" onclick="onlyOne(this)">

                    </div>


                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 11-20</span></div>
                        <input type="checkbox" class="avatar-char" id="21" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="12" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="13" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="14" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="15" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="16" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="17" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="18" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="19" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="20" name="check" value="option1" onclick="onlyOne(this)">

                    </div>

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 21-30</span></div>
                        <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                    </div>

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 31-40</span></div>
                        <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">
                    </div>

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 41-50</span></div>
                        <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                    </div>

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 51-60</span></div>
                        <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">


                    </div>

                    <div class="widget-signups__list">
                        <div><span class="badge rounded-pill bg-primary mb-2">Seats 61-70</span></div>
                        <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                        <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                    </div>
                </div>
                <div class="col">
                    <h5>Your Seat:</h5>
                    <h5  id="seat"></h5>
                </div>
            </div> 

        </div>
       
    </div>

  
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
