@{
    ViewBag.Title = "";
}

<script type="text/javascript">


    function onClickButtonNext() {

        if (document.getElementById('seat').innerHTML == "NONE") {
            document.getElementById('nullSeat').innerHTML = '<i class="fa-solid fa-triangle-exclamation"></i> You have not selected a seat!!';
       
        } 

    }

    function onlyOne(checkbox) {

        var checkboxes = document.getElementsByName('check')

        checkboxes.forEach((item) => {
            checkboxes.forEach((item) => {
                if (item.checked) {
                    document.getElementById('seat').innerHTML = item.id
                }
            })


            if (item == checkbox) {
                document.getElementById('seat').innerHTML = "NONE"
                document.getElementById('nullSeat').innerHTML = '';
      
            }

            if (item !== checkbox) {

                item.checked = false
            }


        })

    }

</script>

<link rel="stylesheet" href="~/Content/SelectSeats.css">
@Scripts.Render("~/Scripts/various_scripts.js");

<section class="hero text-white py-4 flex-grow-1">

    <div class="container py-4">


        <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Select your seat</h1>
        <hr class="style1 mb-5">

        <div class="col-md-5 col-lg-4 pull-right" style="margin-left:40px ">
            <h1 class="display-6 d-flex justify-content-between " style="font-family: 'Helvetica Bold'; text-align: center">Select your seat</h1>
            <ul class="list-group mb-3">

                <li class="list-group-item d-flex justify-content-between lh-sm p-3" style="background-color: #44318D; ">
                    <div>
                        <h6 class="my-0 mt-2 mb-3" style="color:white">Your seat: </h6>
                        <small class="text fst-italic" style="color:white">Select a seat and click next</small>
                        <br />
                        <h5 class="rounded-pill mt-2  text-danger" id="nullSeat" style="font-family: 'Helvetica Bold'; "> </h5>
                    </div>

                    <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">NONE</span>
                </li>



            </ul>
            <button id="buttonNext" href="#" class="btn btn-primary btn-lg w-100" onclick="onClickButtonNext()"> <i class="fa-duotone fa-memo-circle-info "></i> Next  </button>
        </div>

        <div class="row-md-6">
           
                <div class="card widget-signups mb-5 rounded-4">


                    <div class="row-xl-6 mb-3">

                        <h1 class="display-6 text-uppercase mt-5" style="font-family: 'Helvetica Bold'; text-align: center">[screen]</h1>

                    </div>

                    <div class="card-body">


                        <div class="widget-signups__list mb-3">

                            <input for="flexCheckDisabled" type="checkbox" class="avatar-char" id="1.1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="1.10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>


                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="2.1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="2.2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="13" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="14" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="15" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="16" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="17" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="18" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="19" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="20" name="check" value="option1" onclick="onlyOne(this)">

                        </div>

                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>

                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">
                        </div>

                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>

                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">


                        </div>

                        <div class="widget-signups__list  mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>

                        <div class="widget-signups__list mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>

                        <div class="widget-signups__list mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio10" name="check" value="option1" onclick="onlyOne(this)">

                        </div>


                        <div class="widget-signups__list mb-3">

                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio4" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio5" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio6" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio7" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio8" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio9" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char hidden" id="radio1" name="check" value="option1" onclick="onlyOne(this)">

                        </div>


                        <div class="widget-signups__list mb-5">
                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio2" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio3" name="check" value="option1" onclick="onlyOne(this)">
                            <input type="checkbox" class="avatar-char" id="radio1" name="check" value="option1" onclick="onlyOne(this)">
                            <input class="hidden" name="check" onclick="onlyOne(this)">
                        </div>


                    </div>

                </div>

            </div>

        </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
