
@{
    ViewBag.Title = "BuyTicket";
}
<script type="text/javascript">



    function onClickbtnCheckOut() {

         location.href = '/movies/BuyTicket'


    }

 

</script>
<section class="hero text-white py-4 flex-grow-1">

    @*   <div class="container py-4">

            <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Select your seat</h1>
            <hr class="style1 mb-5">

            <div class="col-md-5 col-lg-4 pull-right" style="margin-left:40px ">
                <h1 class="display-6 d-flex justify-content-between " style="font-family: 'Helvetica Bold'; text-align: center">Select your seat</h1>
                <ul class="list-group mb-3">

                    <li class="list-group-item d-flex justify-content-between lh-sm p-3" style="background-color: #44318D; ">
                        <div>
                            <h6 class="my-0 mt-2 mb-3" style="color:white">Your seat: </h6>
                            <small class="text fst-italic" style="color:white">Select a seat and click next</small>
                            <br />
                            <h5 class="rounded-pill mt-2 text-danger" id="nullSeat" style="font-family: 'Helvetica Bold'; "> <i class="fa-solid fa-triangle-exclamation"></i> You have not selected pay method!!</h5>
                        </div>
                        <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">NONE</span>
                    </li>



                </ul>
                <button id="btnCheckOut" disabled class="btn btn-primary btn-lg w-100" onclick="onClickbtnCheckOut()"> <i class="fa-duotone fa-memo-circle-info "></i> Pay  </button>
            </div>

            <div class="row-md-6">

                <div class="card widget-signups mb-5 rounded-4">
                    <div class="row-xl-6 mb-3"><h1 class="display-6 text-uppercase mt-5" style="font-family: 'Helvetica Bold'; text-align: center">[screen]</h1></div>

                </div>

            </div>
        </div>*@



    <div class="container ">
        <main>
            <div class="text-center">


                <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Checkout form</h1>
                <hr class="style1 mb-5">

            </div>

            <div class="col-md-5 col-lg-4 pull-right" style="margin-left:40px ">
                <h1 class="display-6 d-flex justify-content-between " style="font-family: 'Helvetica Bold'; text-align: center">Details</h1>
                <ul class="list-group mb-3">

                    <li class="list-group-item d-flex justify-content-between lh-sm p-2" style="background-color: #44318D; ">

                        <div>
                            <h6 class="my-0 mt-2 mb-1" style="color:white">Movie </h6>
                        </div>
                        <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">Spiderman 4</span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm p-2" style="background-color: #44318D; ">

                        <div>
                            <h6 class="my-0 mt-1" style="color:white">Your seat</h6>
                        </div>
                        <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">Row:1 Seat:10</span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm p-2" style="background-color: #44318D; ">

                        <div>
                            <h6 class="my-0 mt-1" style="color:white">Screening Date </h6>
                        </div>
                        <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">11/2/2022</span>

                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm p-2" style="background-color: #44318D; ">

                        <div>
                            <h6 class="my-0 mt-1" style="color:white">Screening Time</h6>
                        </div>
                        <span class="rounded-pill mt-2" id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 ">00:00</span>

                    </li>
                 
                    <li class="list-group-item d-flex justify-content-between lh-sm " style="background-color: #44318D;">
                        <h6 class="my-0 mt-1" style="color:white">Total (EU) </h6>
                        <span class="rounded-pill mt-2 " id="seat" style="font-family: 'Helvetica Bold'; color: #D83F87 "> &euro; 20</span>
                    
                    </li>
                </ul>
                <button id="btnCheckOut" type="submit" disabled class="btn btn-primary btn-lg w-100" onclick="onClickbtnCheckOut()"> <i class="fa-duotone fa-memo-circle-info "></i> Continue to checkout  </button>
            </div>

                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Billing</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>

                       

                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                          
                        </div>

                        <hr class="my-4" />

                        <h4 class="mb-3">Payment</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                                <label class="form-check-label" for="credit">Credit or Debit card</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                                <label class="form-check-label" for="debit">Cash (pay on demand)</label>
                            </div>
                        
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-expiration" class="form-label">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        
                    </form>
                </div>
           
        </main>
    </div>
  
 
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
