
@{
    ViewBag.Title = "ComingSoon";
}

<section class="hero text-white py-4 flex-grow-1">

    <div class="container" py-4">


        <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Coming Soon Movies </h1>
        <hr class="style1 mb-5">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/Images/cinqueterre.jpg" class="card-img-top mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: 'Helvetica Bold';">Spiderman 3</h4>
                        <p class="card-text mb-5">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                        
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/Images/cinqueterre.jpg" class="card-img-top mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: 'Helvetica Bold';">Spiderman 2</h4>
                        <p class="card-text mb-5">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/Images/cinqueterre.jpg" class="card-img-top mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: 'Helvetica Bold';">Spiderman 1</h4>
                        <p class="card-text mb-5">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/Images/cinqueterre.jpg" class="card-img-top mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: 'Helvetica Bold';">Spiderman 5</h4>
                        <p class="card-text mb-5">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <img src="~/Images/cinqueterre.jpg" class="card-img-top mb-5">
                    <div class="card-body">
                        <h4 class="card-title" style="font-family: 'Helvetica Bold';">Spiderman 5</h4>
                        <p class="card-text mb-5">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @*
        <div class="container p-0  my-4">
           <div class="row p-3 py-5 rounded-4">

               <div class="col-lg-3 p-2 text-center mb-3">
                   <img src="~/Images/cinqueterre.jpg" class="rounded-4" width="220" height="300">
               </div>

               <div class="col-6 p-1">
                   <div class="information">

                       <h1 class="display-6 text-uppercase mb-4" style="font-family: 'Helvetica Bold';"> Spiderman 3</h1>
                       <p>Storyline:</p>
                       <p>Genre:</p>
                       <p>Director:</p>
                       <p>Cast:</p>
                       <p>Duration:</p>
                       <p class="mb-3">Language: English</p>

                   </div>

               </div>

               <div class="col-3">
                   <button type="button" class="btn-lg btn-primary" style="margin-top: 259px; margin-left: 100px;">Buy Ticket</button>
               </div>

           </div>

           </div>
    *@



   
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
