@{
    ViewBag.Title = "Now Showing";
}

<section class="hero text-white py-4 flex-grow-1">
    <div class="container py-4">


     <h1 class="display-4 text-uppercase" style="font-family: 'Helvetica Bold'; text-align: center">Now Showing Movies </h1>
     <hr class="style1 mb-5">
        
   

        <div class="row py-5 rounded-4">
            <div class="col-lg-6">
                <h1 class="display-5">Title</h1>
                <p class="fst-italic text-muted">Using Bootstrap 5 flexbox utilities, create a footer that always sticks to the bottom of your viewport. Snippet by <a class="text-primary" href="https://bootstrapious.com/" target="_blank">Bootstrapious</a></p>
            </div>
        </div>


    </div>
</section>


<div class="wrapper">
    <div class="push"></div>
</div>
