@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="hero text-white py-4 flex-grow-1">
    <div class="container py-4">
        <div class="row">
            <h1 class="display-4 mb-5"><i class="fa-solid fa-circle-exclamation text-danger"></i> Notice!</h1>

            <div class="col-lg-6">
                <div class="alert alert-danger" role="alert">
                    @{
                        if (String.IsNullOrEmpty(ViewBag.errorMessage))
                        {
                            <p>An error occurred while processing your request.</p>
                        }
                        else
                        {
                            <p>@ViewBag.errorMessage</p>
                        }
                    }
                </div>
                
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <div class="push"></div>
</div>
