@{
    ViewBag.Title = "404";
}

<div class="page-wrap d-flex mt-5 flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 font-helvetica-bold mb-3 color-red d-block">404</span>
                <div style="display: inline-block;" role="alert" class="alert alert-danger mb-5 lead">Error 404: The page you are looking for was not found.</div>

                <br />
                <a href="/home/index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="push"></div>
</div>
